/* Fondo transparente del diálogo */
::deep .transparent-loading-dialog .mud-dialog {
    background: transparent !important;
    box-shadow: none !important;
}

/* Fondo transparente del contenido */
::deep .transparent-content {
    background: transparent !important;
    padding: 0 !important;
}

/* Estilos para tu SVG */
::deep .loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    ::deep .loading-progress circle {
        stroke-width: 8;
        stroke-linecap: round;
        stroke: #1976d2; /* Color primario de MudBlazor */
        stroke-dasharray: 200;
        animation: spin 1.5s linear infinite;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
