<a class=@Clase @onclick=Notificar>@Texto</a>

@code {

    #region ***** PARÁMETROS *****

    [Parameter, EditorRequired]
    public string Texto { get; set; } = "";
    
    [Parameter]
    public string Clase { get; set; } = "";

    [Parameter]
    public EventCallback OnClick { get; set; }

    #endregion

    #region ***** MÉTODOS PRIVADOS *****

    private async Task Notificar()
    {
        await OnClick.InvokeAsync(null);
    }

    #endregion
}
