@implements IDisposable

<div class="popUp @(this._visible ? "visible" : "noVisible")">
    <div class="texto">
        <p>@this._texto</p>
    </div>
</div>

@code {
    #region ***** DEPENDENCIAS *****
    [Inject]
    public ServicioMensajeInfo? Servicio { get; set; }
    #endregion

    #region ***** VARIABLES INTERNAS *****
    private string? _texto;
    private bool _visible;
    #endregion

    #region ***** MÉTODOS PRIVADOS *****
    protected override void OnInitialized()
    {
        this.Servicio!.Mostrar += TextoMensaje;
        this.Servicio.Ocultar += OcultarMensaje;
    }

    private void TextoMensaje(string texto)
    {
        this._texto = texto;
        this._visible = true;
        StateHasChanged();
    }

    private void OcultarMensaje()
    {
        this._visible = false;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        this.Servicio!.Mostrar -= TextoMensaje;
        this.Servicio.Ocultar -= OcultarMensaje;
    }
    #endregion
}
