.icono {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    filter: brightness(0) saturate(100%) invert(47%) sepia(31%) saturate(461%) hue-rotate(168deg) brightness(90%) contrast(92%);
    transition: all 1.5s ease;
    margin-bottom: .4rem;
}


/*Imagenes iconos*/
.icono-menu {
    background: url("Recursos/icono-menuRelleno.svg");
}

.icono-administracion {
    background: url("Recursos/icono-ajustes.svg");
    background-size: cover;
    width: 1.7rem;
    height: 1.7rem;
}

.icono-edicionDatos {
    background: url("Recursos/icono-edicionDatos.svg");
    background-size: cover;
}

.icono-formulario {
    background-image: url("Recursos/icono-formulario.svg");
    width: 1.3rem;
    height: 1.3rem;
}

.icono-listado {
    background-image: url("Recursos/icono-listado.svg");
    background-size: cover;
}

.icono-lupa {
    background-image: url("Recursos/icono-lupa.svg");
}

.icono-carpeta {
    background-image: url("Recursos/icono-carpeta.svg")
}

.icono-maquina {
    background-image: url("Recursos/icono-maquina.svg");
    background-size: contain;
}