<div class="elemento">
    <NavLink class="nav-link" href=@hRef>
        <MenuSpanIcono Icono=@Icono></MenuSpanIcono> @NombreSubMenu
    </NavLink>
</div>

@code {
    #region ***** PARÁMETROS *****

    [Parameter, EditorRequired]
    public string hRef { get; set; }

    [Parameter, EditorRequired]
    public string Icono { get; set; }

    [Parameter, EditorRequired]
    public string NombreSubMenu { get; set; }

    #endregion
}
