<dialog class="popUp" id=@this._popUpId>
    <div class="popUpTitulo">
        <p>@this.PopUpTitulo</p>
    </div>
    <div class="popUpTexto">
        <p>@this.PopUpTexto</p>
    </div>
    <div class="popUpBotones">
        @if (this._mostrarBotonesSN)
        {
            <button class="cancelar" @onclick=@(()=> Respuesta(false))>@this.Traductor![this._mnsjBotonCancelar]</button>
            <button class="aceptar" @onclick=@(()=> Respuesta(true))>@(this.Traductor![this._mnsjBotonAceptar])</button>
        }
        else
        {
            <button class="cancelar" @onclick=@(()=> Respuesta(false))>Cerrar</button>
        }
    </div>
</dialog>

@code {
    #region ***** DEPENDENCIAS *****
    [Inject]
    public IStringLocalizer<TrGeneral>? Traductor { get; set; }
    [Inject]
    public IJSRuntime JSRuntime { get; set; }
    #endregion

    #region ***** PARÁMETROS *****
    [Parameter]
    public string PopUpTexto { get; set; }
    [Parameter]
    public string PopUpTitulo { get; set; }
    [Parameter]
    public EventCallback<bool> EnvioRespuesta { get; set; }
    #endregion

    #region ***** VARIABLES INTERNAS *****
    private string _mnsjBotonAceptar = "lblSi";
    private string _mnsjBotonCancelar = "lblNo";
    private bool _mostrarBotonesSN;
    private string _popUpId = $"PopUp_{Guid.NewGuid().ToString("N")}";
    #endregion

    #region ***** MÉTODOS PÚBLICOS*****    

    public async void TextoPopUp(string texto, string titulo, bool botonesSN = true,
                        string mnsjBotonAceptar = "lblSi", string mnsjBotonCancelar = "lblNo")
    {
        AplicarCambios(texto, titulo, botonesSN, mnsjBotonAceptar, mnsjBotonCancelar);
        await this.JSRuntime.InvokeVoidAsync("Utils.AbrirDialogModal", this._popUpId);        
    }
    #endregion

    #region ***** MÉTODOS PRIVADOS*****
    private async void Respuesta(bool valor)
    {        
        await this.EnvioRespuesta.InvokeAsync(valor);
        await this.JSRuntime.InvokeVoidAsync("Utils.CerrarDialog", this._popUpId);
    }

    private void AplicarCambios(string texto, string titulo, bool botonesSN, string mnsjBotonAceptar, string mnsjBotonCancelar)
    {        
        this.PopUpTexto = texto;
        this.PopUpTitulo = titulo;
        this._mostrarBotonesSN = botonesSN!;
        this._mnsjBotonAceptar = mnsjBotonAceptar;
        this._mnsjBotonCancelar = mnsjBotonCancelar;        
        StateHasChanged();
    }
    #endregion
}
