.containerMensaje {
    position: relative;
    display: flex;
    justify-content: center;
}
.containerMensaje.espacioIzquierda {
    margin-left: .6rem;
}
.containerMensaje.cursorAyuda {
    cursor: help;
}

span {
    opacity: 0;
    position: absolute;
    width: max-content;
    bottom: 110%;
    color: #3E4D59;
    padding: 4px 6px;
    font-size: 0.9rem;
    background-color: white;
    border-radius: 10px;
    text-align: justify;
    box-shadow: rgb(0 0 0 / 21%) 0px 3px 11px 0px;
    pointer-events: none;
    z-index: 4;
}

    span.abajo {
        bottom: -2.3rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    }

span.abajo::after {
    visibility:hidden
}
    span.abajo::before {
        content: "";
        position: absolute;
        top: -50%;
        bottom: 100%;
        left: 50%;
        margin-left: -9px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
    }

span::after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.containerMensaje:hover span
{
    animation: fadein 0.3s ease 0.5s normal forwards running;
}

@keyframes fadein
{
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}
