@inherits InputBase<string>
@using System.Linq.Expressions
@typeparam T

<div class=@ClaseDiv>
    <label>
        @Label
        <Validacion For=@ValidationFor></Validacion>
    </label>

    <div class="autocompletado row">
        <input class="form-text col" type="search" @bind=@CurrentValue autocomplete="off" maxlength="100" @attributes=@AtributosInput/>
        <InputSelect @bind-Value=@CurrentValue class="form-select col" @attributes=@AtributosInput>
            <option value=""></option>
            @if (Lista != null)
            {
                @foreach (T tipo in Lista)
                {
                    <option value=@tipo.GetType().GetProperty("Nombre").GetValue(tipo, null)>@tipo.GetType().GetProperty("Nombre").GetValue(tipo, null)</option>
                }
            }
        </InputSelect>
    </div>    
</div>


@code {
    #region ***** PARÁMETROS *****
    [Parameter]
    public string? ClaseDiv { get; set; }
    [Parameter]
    public string? Label { get; set; }
    [Parameter]
    public Dictionary<string, object>? AtributosInput { get; set; }
    [Parameter, EditorRequired]
    public List<T>? Lista { get; set; }
    [Parameter, EditorRequired]
    public Expression<Func<string>> ValidationFor { get; set; } = default!;
    #endregion

    #region ***** MÉTODOS *****
    protected override bool TryParseValueFromString(string? value, out string result, out string validationErrorMessage)
    {
        result = value;
        validationErrorMessage = null;
        return true;        
    }
    #endregion
}