@using System.Linq.Expressions

<div class=@this.ClaseDiv>
    <label>
        @this.Label
        <Validacion For=@this.ValidationFor></Validacion>
    </label>
    <InputImporte AtributosInput=@this.AtributosInput
                  ConsiderarCadenaVaciaComoCero=this.ConsiderarCadenaVaciaComoCero
                  NumeroDeDecimales=@this.NumeroDeDecimales FormatearCeroComoCadenaVacia=@this.FormatearCeroComoCadenaVacia
                  MensajeErrorValidacion=@this.MensajeErrorValidacion
                  @bind-Value=this.Value>
    </InputImporte>
</div>

@code {
    #region ***** DEPENDENCIAS *****

    [Inject]
    public IStringLocalizer<TrGeneral>? Traductor { get; set; }

    #endregion

    #region ***** PARÁMETROS *****

    private decimal? _decNumero;
    private string? strMensajeErrorValidacion;

    #endregion

    #region ***** PARÁMETROS *****

    [Parameter]
    public string? ClaseDiv { get; set; }

    [Parameter]
    public string? Label { get; set; }

    [Parameter, EditorRequired]
    public Expression<Func<decimal?>> ValidationFor { get; set; } = default!;

    [Parameter]
    public Dictionary<string, object>? AtributosInput { get; set; }

    [Parameter]
    public bool ConsiderarCadenaVaciaComoCero { get; set; } = true;

    [Parameter]
    public int NumeroDeDecimales { get; set; } = 2;

    [Parameter]
    public bool FormatearCeroComoCadenaVacia { get; set; } = false;

    [Parameter]
    public string MensajeErrorValidacion
    {
        get => this.strMensajeErrorValidacion ?? Traductor?["ERR_InputImporte"] ?? "";
        set => this.strMensajeErrorValidacion = value;
    }

    [Parameter]
    public decimal? Value
    {
        get => this._decNumero;
        set
        {
            if (this._decNumero == value) return;
            this._decNumero = value;
            this.ValueChanged.InvokeAsync(this._decNumero);
        }
    }

    [Parameter]
    public EventCallback<decimal?> ValueChanged { get; set; }

    #endregion

}
