@inherits InputBase<DateTime?>
@using System.Linq.Expressions

<div class="@ClaseDiv">
    <label style="width:100%;">
        @Label
        <Validacion For=@ValidationFor></Validacion>
    </label>
    <InputDate style="width:100%;" Type="InputDateType.Date" @bind-Value=@CurrentValue @attributes=@AtributosInput />
</div>

@code {
    #region ***** PARÁMETROS *****
    [Parameter]
    public string? ClaseDiv { get; set; }
    [Parameter]
    public string? Label { get; set; }
    [Parameter]
    public Dictionary<string, object>? AtributosInput { get; set; }
    [Parameter, EditorRequired]
    public Expression<Func<DateTime?>> ValidationFor { get; set; } = default!;
    #endregion

    #region ***** MÉTODOS *****
    protected override bool TryParseValueFromString(string? value, out DateTime? result, out string validationErrorMessage)
    {
        result = Convert.ToDateTime(value);
        validationErrorMessage = null;
        return true;
    }
    #endregion
}
