.btn {
    background-color: white;
    color: #597997;
    border: 1px solid rgb(89, 121, 151,0.8);
    font-weight: 500;
    font-size: 0.9rem;
    width: fit-content;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    box-shadow: none;
    padding: 3px 6px 3px 6px;
    align-items: center;
    border-radius: 10px;
}

    .btn:hover {
        background-color: rgb(89, 121, 151,0.5);
        color: white;
        border: 1px solid rgb(89, 121, 151,0.5);
    }
    .btn:focus {
        border: 1px solid #597997;
        box-shadow: #597997 0px 2px 8px 0px;
    }
    .btn.seleccionado:focus {
        background-color: #597997;
        color: white;
        border: 1px solid #597997;
    }

.btn.seleccionado {
    background-color: #597997;
    color:white;
    border: 1px solid #597997;
}
