@using System.Linq.Expressions
@using EstiloLibreFront.Utils

<div class="@ClaseDiv">
    <label>
        @Label
        <Validacion For=@ValidationFor></Validacion>
    </label>
    <div class="btn-group" style="width:100%;">
        @if (Lista != null)
        {
            @foreach (ControlItem tipo in Lista)
            {
                @if (tipo.Id == idSeleccionado)
                {
                    <button class="btn seleccionado" @onclick="()=>Seleccionado(tipo.Id)" @onclick:preventDefault="true">@tipo.Nombre</button>
                }
                else
                {
                    <button class="btn" @onclick="()=>Seleccionado(tipo.Id)" @onclick:preventDefault="true">@tipo.Nombre</button>
                }
            }
            <button class="btn @(idSeleccionado == 0? "seleccionado": "")" @onclick="()=>Seleccionado(0)" @onclick:preventDefault="true">@Traductor!["lblDesconocido"]</button>
        }
    </div>
</div>

@code {
    #region ***** DEPENDENCIAS *****
    [Inject]
    public IStringLocalizer<TrGeneral>? Traductor { get; set; }
    #endregion

    #region ***** PARÁMETROS *****
    [Parameter]
    public int idSeleccionado { get; set; }
    [Parameter]
    public EventCallback<int> idSeleccionadoChanged { get; set; }
    [Parameter]
    public string? ClaseDiv { get; set; }
    [Parameter]
    public string? Label { get; set; }    
    [Parameter, EditorRequired]
    public Expression<Func<int>>? ValidationFor { get; set; } = default!;
    [Parameter, EditorRequired]
    public List<ControlItem>? Lista { get; set; }
    #endregion

    #region ***** MÉTODOS *****
    public void Seleccionado(int id)
    {
        idSeleccionado = id;
        idSeleccionadoChanged.InvokeAsync(idSeleccionado);
        StateHasChanged();
    }
    #endregion
}
