@inherits InputBase<string>
@using System.Linq.Expressions

<div class=@ClaseDiv>
    <label>
        @Label
        <Validacion For=@ValidationFor></Validacion>
    </label>
    <InputText class="form-control" @bind-Value=@CurrentValue @attributes=@AtributosInput maxlength="100"></InputText>
</div>


@code {
    #region ***** PARÁMETROS *****
    [Parameter]
    public string? ClaseDiv { get; set; }
    [Parameter]
    public string? Label { get; set; }
    [Parameter]
    public Dictionary<string, object>? AtributosInput { get; set; }
    [Parameter, EditorRequired]
    public Expression<Func<string>> ValidationFor { get; set; } = default!;
    #endregion

    #region ***** MÉTODOS *****
    protected override bool TryParseValueFromString(string? value, out string result, out string validationErrorMessage)
    {
        result = value;
        validationErrorMessage = null;
        return true;
    }
    #endregion
}
