.btn {
    font-weight: 500;
    font-size: 0.9rem;
    width: fit-content;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    padding: 3px 6px 3px 6px;
    border-radius:10px;
}
    .btn.izq.False:focus, .btn.drch.True:focus, .btn.izq.True:focus,
    .btn.drch.False:focus {
        border: 1px solid #597997;        
        box-shadow: #597997 0px 2px 8px 0px;
    }
    .btn.izq.False:hover, .btn.drch.True:hover {
        background-color: rgb(89, 121, 151,0.5);
        color: white;
        border: 1px solid rgb(89, 121, 151,0.5);
    }
.btn.izq.False, .btn.drch.True {
    background-color: white;
    color: #597997;
    border: 1px solid rgb(89, 121, 151);
}
.btn.izq.True, .btn.drch.False {
    background-color: #597997;
    color: white;
    border: 1px solid #597997;
}
