@using System.Linq.Expressions

<div class=@ClaseDiv>
    <label>
        @Label
        <Validacion For="@ValidationFor"></Validacion>
    </label>

    <div class="btn-group" style="width:100%;">
        <button class="btn izq @boolSeleccionado" @onclick=@(()=>Seleccionado(true)) @onclick:preventDefault=true>@Traductor!["lblSi"]</button>
        <button class="btn drch @boolSeleccionado" @onclick=@(()=>Seleccionado(false)) @onclick:preventDefault=true>@Traductor!["lblNo"]</button>
    </div>
</div>

@code {
    #region ***** DEPENDENCIAS *****
    [Inject]
    public IStringLocalizer<TrGeneral>? Traductor { get; set; }
    #endregion

    #region ***** PARÁMETROS *****
    [Parameter]
    public bool boolSeleccionado { get; set; }
    [Parameter]
    public EventCallback<bool> boolSeleccionadoChanged { get; set; }
    [Parameter]
    public string? ClaseDiv { get; set; }
    [Parameter]
    public string? Label { get; set; }
    [Parameter, EditorRequired]
    public Expression<Func<bool>>? ValidationFor { get; set; } = default!;
    #endregion

    #region ***** MÉTODOS *****
    public void Seleccionado(bool value)
    {
        boolSeleccionado = value;
        boolSeleccionadoChanged.InvokeAsync(boolSeleccionado);
        StateHasChanged();
    }
    #endregion
}
